button
{
    background-color: white;
    z-index: 6;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: none;
    position: absolute;
    right: 20px;
    bottom: 20px;
    position: fixed;
    box-shadow: 1px 1px 10px grey;
}

button svg
{
    width: 55%;
    height: 55%;
}