.detailed-portfolio-banner-wrapper
{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3f3f3;
}

.detailed-portfolio-banner
{
    display: flex;
    justify-items: center;
    align-items: center;
}

.banner-title
{
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0em;
}

.detailed-portfolio-screen
{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images-wrapper
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.detailed-portfolio-gallery
{
    height: 100%;
    width: 80%;
    padding: 1em; 
    margin: 1em;
}

.side-images-wrapper
{
    display: flex;
    justify-content: center;
    
}

.side-image
{
    padding: 0 3em;
    width: 20%;
}

.description-wrapper
{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15em;
}

.project-name
{
    font-size: 2em;
    font-weight: 500;
}

.location-title
{
    font-size: 1.3em;
    font-weight: 500;
}

.view-photos-button
{
    padding: 1em;
    border-radius: 10px;
    background-color: #000;
    color: white;
    transition: 0.3s ease-in-out;
}

.view-photos-button:hover
{
    background-color: white;
    color: black;
}