.detailed-portfolio-banner-wrapper
{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3f3f3;
}

.detailed-portfolio-banner
{
    display: flex;
    justify-items: center;
    align-items: center;
}

.banner-title
{
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0em;
}

.detailed-portfolio-screen
{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images-wrapper
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.project-thumbnail
{
    width: 70%;
    height: 80;
    padding: 1em; 
    margin: 4em;
}

.detailed-portfolio-gallery
{
    height: 80%;
    width: 70%;
    padding: 1em; 
    margin: 4em;
}

.description-wrapper
{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15em;
}

.project-name
{
    font-size: 2em;
    font-weight: 500;
}

.location-title
{
    font-size: 1.3em;
    font-weight: 500;
}

.view-photos-button
{
    padding: 1em;
    border-radius: 10px;
    background-color: #000;
    color: white;
    transition: 0.3s ease-in-out;
}

.view-photos-button:hover
{
    background-color: white;
    color: black;
}

.other-projects-wrapper
{
    margin-top: 2em;
}

.other-projects-title
{
    margin-left: 2em;
    padding-top: 0.5em;
    letter-spacing: 0.25em;
    font-size: 3em;
    position: relative;
}

.other-projects-title:after
{
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    left: 13em;
    width: 45%;
    top: 1.25em;
    border-radius: 10px;
}