<header>
    <a href="">
        <img src="assets/images/Touch_Logo/02 Full Logo v2 (Use This)/1.png" alt="wordMark" class="logoMark">
    </a>
    <nav class="nav">
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="about-us">About Us</a></li>
            <li><a routerLink="portfolio">Portfolio</a></li>
            <li><a routerLink="services">Services</a></li>
            <li><a routerLink="contact-us">Contact Us</a></li>
        </ul>
    </nav>
</header>
        


