.initial-screen img
{
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}

.title-box
{
    background-color: white;
    border-radius: 10px;
    opacity: 80%;
    width: 50%;
    position: absolute;
    left: 18em;
    top: 19em;
    z-index: 2;
    padding: 6em 3em;
}

.title-text
{
    font-size: 2.5em;
    font-weight: 300;
}

.title-text:after
{
    content: "";
    position: absolute;
    background-color: var(--primary);
    left: 1.3em;
    width: 20%;
    height: 5px;
    top: 1.5em;
    transition: 0.3s;
    border-radius: 10px;
}

.enquire-button
{
    margin-top: 3em;
    padding: 1em;
    border-radius: 10px;
    background-color: #000;
    color: white;
    transition: 0.3s ease-in-out;
}

.enquire-button:hover
{
    background-color: white;
    color: black;
}

.our-services-screen
{
    display: flex;
    flex-direction: column;
}

.our-services-title
{
    margin-right: 2em;
    padding-top: 2em;
    letter-spacing: 5px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    font-size: 3em;
}

.our-services-title:after
{
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    right: 10em;
    width: 60%;
    top: 2.5em;
    border-radius: 10px;
}

.description-paragraph
{
    display: flex;
    flex-direction: column;
    padding: 4em;
}

.paragraph-title
{
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.paragraph-content
{
    font-size: 1.2em;
    padding: 1em 2em;
}

.emphasis-content
{
    color: var(--design-color);
}

.services-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 2em;
    gap: 1.5em;
}

.service-wrapper
{
    width: 33%;
}

.service-summary
{
    padding: 2em 4.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed;
}

.service-text
{
    margin-top: 1em;
    font-size: 1.7em;
}

.service-image
{
    width: 5em;
}

.service-desciption-text
{
    font-size: 0.85em;
    text-align: justify;
}

.our-projects-screen
{
    height: 185vh;
}

.our-projects-title
{
    margin-left: 2em;
    padding-top: 2em;
    letter-spacing: 0.1em;
    font-size: 3em;
    position: relative;
}

.our-projects-title:after
{
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    left: 10em;
    width: 60%;
    top: 2.75em;
    border-radius: 10px;
}

.projects-wrapper
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.our-projects-bottom
{
    display: flex;
    align-items: center;
}

.checkout-more-title
{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    font-size: 2em;
    left: 5em;
}

.checkout-more-title:after
{
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    right: 15em;
    width: 35vw;
    top: 0.75em;
    transition: 0.3s;
    border-radius: 10px;
}

.checkout-more-button
{
    position: relative;
    padding: 1em 2em;
    background-color: white;
    border-radius: 1em;
    top: -1em;
    right: -20em;
    transition: 0.3s ease-in-out;
}

.checkout-more-button:hover
{
    background-color: black;
    color: white;
}
