<div class="home-container">
    <div class="initial-screen">
        <img src="assets/images/17.jpg" alt="wordMark" class="logoMark">

        <div class="title-box">
            <p class="title-text">Creating purposeful spaces</p>
            <button routerLink="contact-us" class="enquire-button">Enquire With Us</button>
        </div>
    </div>
    <div class="our-services-screen">
        <p class="our-services-title">WHAT WE DO</p>
        <div class="description-paragraph">
            <p class="paragraph-title">Creating spaces that you love</p>
            <p class="paragraph-content">Our passion lies in the creating personalised interiors <span class="emphasis-content">– beautiful spaces that are calm, refined and tailored </span> to each individual client’s personality. We believe in creating comfortable and functional spaces that makes you feel inspired and relaxed.</p>
            <p class="paragraph-content">Encompassing a holistic design approach from all aspects of creating a space - we balance functionality and aesthetics to resolve design problems with practical interior design solutions.</p>
        </div>
        <div class="services-container">
            <div class="service-wrapper">
                <div class="service-summary">
                    <img src="assets/images/sketch.png" alt="Design" class="service-image">
                    <p class="service-text">Design</p>
                    <p class="service-desciption-text">Tell us what you need and love in your space. Combining functionality and aesthetics, we conceptualise your ideas into visual designs of your future space.</p>
                </div>
            </div>
            <div class="service-wrapper">
                <div class="service-summary">
                    <img src="assets/images/customize.png" alt="Customize" class="service-image">
                    <p class="service-text">Customize</p>
                    <p class="service-desciption-text">Leave all the details to us. From bespoke fittings and joinery to lighting and extensions, everything is refined to customise your needs.</p>
                </div>
            </div>
            <div class="service-wrapper">
                <div class="service-summary">
                    <img src="assets/images/renovation.png" alt="Build" class="service-image">
                    <p class="service-text">Build</p>
                    <p class="service-desciption-text">Our favourite part of the process - bringing your ideas to life. We work tirelessly with our experienced builders to bring you build quality without compromising your budget.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="our-projects-screen">
        <p class="our-projects-title">OUR PROJECTS</p>
        <div class="projects-wrapper">
            <div class="project-row">
                <div class="project">
                    <img src="assets/images/17.jpg" alt="The Kensington" class="project-image">
                    <p class="project-name">The Kensington</p>
                </div>
                <div class="project">
                    <img src="assets/images/06_Completed Projects/530A Pasir Ris One/3.jpeg" alt="Pasir Ris One" class="project-image">
                    <p class="project-name">Pasir Ris One</p>
                </div>
            </div>
            <div class="project-row">
                <div class="project">
                    <img src="assets/images/17.jpg" alt="The Kensington" class="project-image">
                    <p class="project-name">The Kensington</p>
                </div>
                <div class="project">
                    <img src="assets/images/06_Completed Projects/530A Pasir Ris One/3.jpeg" alt="Pasir Ris One" class="project-image">
                    <p class="project-name">Pasir Ris One</p>
                </div>
            </div>
            <div class="our-projects-bottom">
                <p class="checkout-more-title">Check out more Projects</p>
                <button class="checkout-more-button">View More</button>
            </div>
        </div>
    </div>
</div>


