@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@100;200;300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '~@angular/cdk/overlay-prebuilt.css';

*
{
    padding: 0;
    margin: 0;
}

body 
{
    font-family: 'Poppins', sans-serif;
}

:root
{
    --primary: #696256;
    --design-color: #F09464;
}


